@page "/account/logout"

<PageTitle>Logout</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Sign Out</MudText>
<MudText Typo="Typo.body1" Class="mb-4">Are you sure you want to sign out?</MudText>

<MudPaper Class="pa-4" MaxWidth="400px" Elevation="1">
    <form method="post" action="/api/account/logout" data-enhance="false">
        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-secondary">Sign Out</button>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Href="/">Cancel</MudButton>
        </div>
    </form>
</MudPaper>
