<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\resop\nlog-internal.txt">

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="c:\temp\resop\resop${date:format=yyyyMMdd_HHmmss}log.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}"
            createDirs="true"
            keepFileOpen="false"
            maxArchiveDays="30"
            archiveAboveSize="10485760"
            archiveFileName="c:\temp\resop\archives\resop{#}log.txt"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>

</nlog>
