<div class="nav-menu">
    <nav>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span>Home</span>
        </NavLink>
        <NavLink class="nav-link" href="submit-request">
            <span>Submit Request</span>
        </NavLink>
        <NavLink class="nav-link" href="find-providers">
            <span>Find Providers</span>
        </NavLink>

        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="my-requests">
                    <span>My Requests</span>
                </NavLink>
                <NavLink class="nav-link" href="account/logout">
                    <span>Sign Out</span>
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="account/login">
                    <span>Login</span>
                </NavLink>
                <NavLink class="nav-link" href="account/register">
                    <span>Register</span>
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
